# autosave files
*~
#*#

# user specification files
inputs.cfg
calibration_dbdata.npy
calibration_frq.npy
*.log
*.log.*

# os autogen files?
__*__
*.bak
*.pyc
*.pyo

# temp folder for testing
tmp/

# build files
/doc/_build/

# testing
cover/
.coverage