# autosave files
*~
#*#

# user specification files
inputs.cfg
*.log
*.log.*

# os autogen files?
__*__
*.bak
*.pyc
*.pyo

# temp folder for testing
tmp/

# build files
/doc/_build/
/spikeylab/build/
/spikeylab/dist/

# testing
cover/
.coverage
*.profile