# autosave files
*~
#*#

# user specification files
inputs.cfg
calibration_dbdata.npy
calibration_frq.npy

# os autogen files?
__*__
*.bak
*.pyc

# temp folder for testing
tmp/

# build files
/doc/_build/

# testing
cover/
.coverage