Cython==0.22
Jinja2==2.7.3
MarkupSafe==0.23
PyDAQmx==1.3.1
PyUserInput==0.1.9
PyYAML==3.11
Pygments==2.0.2
Sphinx==1.2.3
docutils==0.12
h5py==2.4.0
matplotlib==1.4.3
mock==1.0.1
nose==1.3.4
numpy==1.9.2
pyaml==15.02.1
pyparsing==2.0.3
pyqtgraph==0.9.10
python-dateutil==2.4.0
pytz==2014.10
scipy==0.15.1
six==1.9.0
sphinx-rtd-theme==0.1.6
wsgiref==0.1.2
